html {background-color: #282b2b;}

/* 
To-Do:
*/

#explanation {
    font-size:1.5vw;
}


#result {
    color:red;
    font-size:4vw;
}

#action {
    text-align:center;
}

#actionicon {
    height:6vw;
    width:auto;
}

h2 {
    color: #f1f1f1;
}

h3 {
    color:#fd88f3;
}

#casePoints>h1 {
    text-align: right;
    font-size:4vw;
}

.remember{
    height:8vw;
}

#dxImg {
    margin-bottom: 10vw;
}

#breakdown {
    text-align: center;
}

#keyImage {
    width:100%;
    height:75%;
}
#diagnosis {
    font-size:3vw;
    margin-bottom:0;
    text-align:center;
}

@media (orientation:portrait) {
    #explanation {
        font-size: 3vw;
    }
}