html {
    background-color:#282b2b;
}

/* 
To-Do:
*/

.container-fluid {
    font-family:consolas;
    color:#FCFDC2;
}

#helpbutton {
    border-radius: 20px;
}

#helpimg {
    height:40vw;
    width: 60vw;
}

#help { height: 2vw;
}

.Body { 
    position: absolute;
    z-index: 0;
}

#Body {
    margin-top: 7vw;
    height: 20vw;
    padding: 1vw;
    position: absolute;
}

#bodyImage{
    height:31vw;
    margin-top: 2vw;
}

#rLungicon,#lLungicon,#subxicon,#ruqicon,#luqicon,#bladdericon {
    position:absolute;
    z-index:1;
    height:2vw;
}


#rLungicon {
    bottom:23vw;
    right:8vw;    
}


#lLungicon {
    bottom:23vw;
    right:4vw;
}

#subxicon {
    bottom:21vw;
    right:6vw;}

#ruqicon {
    bottom:19vw;
    right:8vw;
}

#luqicon {
    bottom:19vw;
    right:4vw;
}

#bladdericon {
    bottom:16vw;
    right:6vw;}


.Ultrasound { grid-area: Ultrasound; }

#activeWindow {
    height:31vw;
    /* width: 67vw; */
}

.Location { grid-area: Location;
}

#currentLocation {
    margin-top: 0;
    padding-top:0;
    text-align:center;
    font-size: 2.5vw;
    color:#FCFDC2;
    font-family:consolas;
}

#Actions { grid-area: Actions;
    font-size:1.5vw;
    text-align:center;
}

#Actions>h3 {
    font-size:1.7vw;
    margin-bottom:0;
    color:#FCFDC2;
    font-family:consolas;
    text-align: center;
}

.actionButton {
    height:6vw;
    text-align:center;
    display: inline-block;    
    border-radius:3vw;
    align-content: center;
}

#obsButton,#ctButton,#surgeryButton,#interveneButton {
    width:9vw;
    font-size: 1vw;
    border-radius:2vw;
}

#obsButton {
    background-color:#5fe66c;
}

#ctButton {
    background-color:#31BBF6;
}

#surgeryButton {
    background-color:#fc4f4f;
}

#interveneButton {
    background-color:#F6B331;
}

#Vitals {
    border:solid;
    border-radius:1vw;
    border-color:#eff0e2;
    margin-top:0px;
    padding-top:5px;
    padding-left:3vw;
    background-color: rgba(156, 229, 165, 0.15);
    color:#ffffff;
    font-size:2vw;
}
.Vital-Signs { grid-area: Vital-Signs;
}
.Vital-Signs>h3 {
    text-align:center;
    margin:0 auto 1vw auto;
    padding-top:0;
    color:#FCFDC2;
    font-size:3vw;
}
.BP,.HR,.T,.O2 {
    font-size:2vw;
    color:#eff0e2;
}

#CaseData {
    text-align:justify;
}

#CaseData h3 {
    color:#FCFDC2;
    text-align: center;
    margin: 0 auto 0 auto;
    font-size:3vw;
    padding-top:0;
}

#CaseInfo { 
    border:solid;
    border-radius:1vw;
    border-color:#eff0e2;
    background-color: rgba(156, 229, 165, 0.15);
}

#CaseInfo>p {
    font-size: 1.5vw;
    padding: 0 1vw 0 1vw;
    color:#eff0e2;
}
#time {
    color:#eff0e2;
    text-align: right;
    font-family:consolas;
    }

.btn:hover {
    background-color:#1e6cdc;
}

.active{
    background-color:#FF3500;
  }


@media (max-width: 1200px) and (orientation: portrait){
#currentLocation {
    font-size: 5.5vw;
}
#time {
    font-size: 200%;
}
#actions {
    margin: 10vw 0 20vw 0;
 }
 #actions>button {
    width:20vw;
 }
 #obsButton,#ctButton,#surgeryButton,#interveneButton {
    font-size: 2.5vw;
}
 .actionButton {
    height: 20vw;
    width:auto;
 }
 
#caseinfo {
     margin-bottom: 20vw;
 }
#Vitals>h3,#CaseInfo>h3,#actions>h3 {
    font-size: 5vw;
}
#CaseInfo>p {
    font-size: 3vw;
}
 #Vitals {
    font-size: 4vw;
 }
 
}