html {background-color: #282b2b;}
/* 
To-Do:
Fit all content on Screen
Show images on hover
Change Link 'clicked' color
*/

b {
 font-weight: 900;
}

a:visited {
  color:#FCFDC2
}

.ProgressReportBox {
 display: grid;
 grid-template: 5vw 18vw 3vw 20vw 10vw / 24vw 15vw 1vw 20vw 15vw 15vw;
 gap: 1vw 1vw;
 grid-template-areas:
   "Title Title Title Title Title Title"
   "ScoreData ScoreData ScoreData MostMissed MostMissed MostMissed"
   "ActionTitle ScoreTitle . LocationBreakdown LocationReveal LocationReveal"
   "Category ActionBreakdown . LocationBreakdown LocationReveal LocationReveal"
   "Navigation Navigation Navigation Navigation Navigation Navigation";
 font-family:consolas;
 color:#FCFDC2;
}

.Logo {
   grid-area: Logo;
align-content: center;
  }

.Logo img {
 width: 7vw;
}

#Title {
 grid-area: Title;
 text-align: center;
 font-size: 3.5vw;
}
.Title h1 {
  margin:0 0 0 0;
}

.ScoreTitle {
  grid-area: ScoreTitle;
  font-size: 2vw;
}

#ScoreData {
 background-color: #0096DF;
 color: #FFFFFF;
 border-color: rgba(35,45,75,1);
 border: 4px solid #FF3500;
 border-radius: 8px;
 text-align: center;
 font-size: 1.5vw;
}

#MostMissed {
 background-color: #0096DF;
 color: #FFFFFF;
 border-color: rgba(35,45,75,1);
 border: 4px solid #FF3500;
 border-radius: 8px;
 text-align: center;
 font-size: 2.4vw;
}

.Category {
 font-size: 2vw;
 text-align: center;
 grid-template-rows: 25% 25% 25% 25%;
  gap: 0px 0px;
  grid-template-areas:
  "ObsButton"
  "CTButton" 
  "SurgButton" 
  "IntButton";
  align-items: center;
  display:grid;
}

.ActionBreakdown {
 grid-area: ActionBreakdown;
 font-size: 3vw;
 text-align: center;
 grid-template-rows: 25% 25% 25% 25%;
  gap: 0px 0px;
  grid-template-areas:
  "ObsScore"
  "CTScore" 
  "SurgScore" 
  "IntScore";
  align-items: center;
  display:grid;
}


.LocationBreakdown {
 text-align: center;
 font-size: 2vw;
}

.LocationReveal {
 grid-area: LocationReveal;
 text-align: center;
 font-size: 2vw;
}

.ActionIcon {
  width:3vw;
}

.Navigation {
  grid-area: Navigation;
  grid-template-columns: 15vw 20vw 20vw 15vw;
  gap: 0px 0px;
  grid-template-areas:
  ". New-Shift Review-Set .";
  align-items: center;
  display:grid;
}

.New-Shift { grid-area: New-Shift;}
.Review-Set { grid-area: Review-Set; }


#byLocation {
 text-align: center;
}



#body {
 padding: 1vw;
 position: absolute;
 width: 17vw;
}

.body {
 height: 1px;
 position: absolute;
 z-index: 0;
}

#ruqicon {
 position: absolute;
 z-index: 1;
 bottom: -14vw;
 right: -7vw;
 height: 2vw;
}

#luqicon {
 position: absolute;
 z-index: 1;
 bottom: -14vw;
 right: -11vw;
 height: 2vw;
}

#subxicon {
 position: absolute;
 z-index: 1;
 bottom: -12vw;
 right: -9vw;
 height: 2vw;
}

#bladdericon {
 position: absolute;
 z-index: 1;
 bottom: -17vw;
 right: -9vw;
 height: 2vw;
}

#rLungicon {
 position: absolute;
 z-index: 1;
 bottom: -10vw;
 right: -7vw;
 height: 2vw;
}

#lLungicon {
 position: absolute;
 z-index: 1;
 bottom: -10vw;
 right: -11vw;
 height: 2vw;
}

.LocationReveal img {
 grid-area: LocationReveal;
 Width: 25vw;
 Height: Auto;
 position: static;
}