* {box-sizing: border-box}

#helpbutton {
    border-radius: 20px;
}

#help { height: 2vw;
}

#helpimg {
    height:40vw;
    width: 60vw;
}

#currentLocation {
    text-align:center;
    color:#FCFDC2;
}

#time {
    color:#eff0e2;
    text-align: right;
    font-family:consolas;
    font-size:1.5vw;
    }

#main-body {
    background-color: #282b2b;
    font-family:consolas;
}
#body-image {
 width:80%;
}

.body-img-container {
    position: relative;
    width: 70%;
    max-width: 300px;
}

#bodyImage {
    display: block;
    width: 100%;
    height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top:0;bottom: 0; left: 0; right: 0;
    color: #f1f1f1;
    transition: .5s ease;
    opacity:0;
  }
  /* When you mouse over the container, fade in the overlay title */
  .body-img-container:hover .overlay {
    opacity: 1;
  }
  .body-icon{
    position: absolute;
    width:10%;
  }
  #rLungicon{top:20%;left:35%;}
  #lLungicon{top:20%;left:57%;}
  #ruqicon{top:40%;left:37%;}
  #luqicon{top:40%;left:57%;}
  #subxicon{top:30%;left:46%}
  #bladdericon{top:48%;left:46%}

.actionButton {
    width:40%;
    align-content: center;
}

#activeWindow {
    height:30vw;
    width: 100%;
}

/* ACTIONS */
#actions {
    text-align:center;
}

#actions>h3 {
    margin-bottom:0;
    color:#FCFDC2;
    font-family:consolas;
    text-align: center;
}

.actionButton {
    height:8vw;
    width: 8vw;
    text-align:center;
    /* display: inline-block;     */
    border-radius:3vw;
    /* align-content: center; */
}

#obsButton,#ctButton,#surgeryButton,#interveneButton {
    font-size: 1vw;
    border-radius:2vw;
    /* display: inline-block; */
}

#obsButton {
    background-color:#5fe66c;
}

#ctButton {
    background-color:#31BBF6;
}

#surgeryButton {
    background-color:#fc4f4f;
}

#interveneButton {
    background-color:#F6B331;
}
  
.card,.list-group-item {
    background-color: rgba(156, 229, 165, 0.15);
    color:#FCFDC2;
}


@media (orientation:portrait)
{
#time {
    font-size:4vw;
    }

#body-image {
    width:40%;
    }
       
#bodyImage {
    width: 100%;
    height: auto;
}

#activeWindow {
    height:50vw;
    width: 100%;
}

.actionButton {
    height:15vw;
    width: 15vw;
}

#obsButton,#ctButton,#surgeryButton,#interveneButton {
    font-size:2vw;
}

}