html {background-color: #282b2b;}

.topbar {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-flow: row;
    border: 4px solid #FF3500;
    border-radius: 8px;
    background-color: #0096DF;
    font-family: consolas;
  }
  
  .heading {
    font-family: Consolas;
    font-weight: bold;
    font-size: 3vw;
    padding: 5px;
    color: #FCFDC2;
    grid-column: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    vertical-align: center;
  }
  
  .logo {
    padding: 10px;
    box-sizing: border-box;
    grid-column: 2;
    vertical-align: center;
    justify-content: right;
  }
  
  #ultra-logo {
    width: 20%;
    background-color: #050303cb;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 10px;
  }
  
  .results {
    display: grid;
    grid-template-columns: 48vw 40vw;
    grid-template-rows: 0 25vw;
    grid-template-areas: 
      "results-ovrvw chart";
    grid-gap: 2vw;
    padding: 0 10vw 0 10vw;
  }
  
 #progressChart {
  grid-area: chart;
  border-radius: 2vw;
  border: 4px solid #FF3500;
}
.chartjs-render-monitor{
  display: block;
  height: 20vw;
  width: 30vw;
}

  .results-ovrvw {
    grid-column: 1;
    list-style-type: none;
    text-align: left;
    font-family: Consolas;
    color: #FCFDC2;
    background-color: #0096DF;
    border: 4px solid #FF3500;
    border-radius: 8px;
    padding: 10px 10px 20px;
    box-sizing: border-box;
    font-size: 2vw;
  }
  
  .results-buttons {
    grid-column: 2;
    border: none;
    padding: 50px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Consolas;
  }
  
  /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px; */
  
  
  table {
    background-color: #0096DF;
    border: 4px solid #FF3500;
    border-radius: 8px;
    font-family: Consolas;
  }
  
#toggle-chart {
  font-size: 2vw;
  font-family: consolas;
}

  th,
  td {
    background-color: #FCFDC2;
    color: #232D4B;
    font-size: 100%;
    text-align: center;
    border: 1px solid #232D4B;
    border-radius: 2px;
  }
  
  span {
    font-size: 100%;
    font-weight: bold;
    color: #FCFDC2;
  }
  
  
  
  .Navigation {
    grid-area: Navigation;
    grid-template-columns: 20vw 17vw 26vw 25vw;
    gap: 0px 0px;
    grid-template-areas:
    "Locations Actions Progress-Report New-Shift";
    padding: 2vw 2vw 0 8vw;
    align-items: center;
    display:grid;
  }
